@model ViewModels._BaseViewModel
<footer class="footer-area">
    <div class="container">
        <div class="row">					
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-footer-widget">
							<div class="title">
								<h3>با ما در تماس باشید</h3>
							</div>
							<ul class="contact-address">
								<li>
									<div class="icon-holder">
										<span class="flaticon-earth-grid"></span>
									</div>
									<div class="content-holder">
                                        <p>
                                            <span>&nbsp;آدرس:&nbsp;</span>بندر عباس خیابان شهرک نبوت <br />میثم 34
                                        </p>
									</div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-email-envelope-back-symbol-on-phone-screen"></span>
									</div>
                                    <div class="content-holder">
                                        <p><span>اطلاعات تماس &nbsp;:</span>&nbsp; 4008 - 954 - 0917 ... <br />0306 - 620 - 0917 <br /> info@novinabborna.com</p>
                                    </div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-technology-1"></span>
									</div>
									<div class="content-holder">
										<p><span>فکس:</span> +(98) 21 88880000</p>
									</div>
								</li>
								<li>
									<div class="icon-holder">
										<span class="flaticon-clock"></span>
									</div>
									<div class="content-holder">
										<p><span>شنبه تا جهارشنبه:</span> 8 تا 18</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
	    
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="title">
                        <h3>دسترسی سریع</h3>
                    </div>
                    <ul class="quick-links left">
                        <li><a href="/about">درباره ما</a></li>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/contact">تماس با ما</a></li>
                        <li><a href="/account/login">ورود</a></li>
                        <li><a href="/product/desalination">دستگاه آب شیرین کن</a></li>
                    </ul>
                    <ul class="quick-links">
                        <li><a href="#">خدمات</a></li>
                        <li><a href="#">آشنایی با تیم</a></li>
                        <li><a href="#">تاریخچه</a></li>
                        <li><a href="#">رزومه</a></li>
                        <li><a href="#">قوانین و مقررات</a></li>
                        
                    </ul>
                </div>
            </div>
    
					
	        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		        <div class="single-footer-widget pd-bottom">
			        <div class="footer-logo">
                        <a href="/">
                            <img src="~/img/WhatsApp_Image2.png" alt="نوین آب برنا" style="width:110px;height:110px;margin:0px auto;"/>                            
                        </a>
			        </div>
			        <div class="industry-info">
				        <p>
					        شرکت نوین آب برنا (نآب) طراح، تولید کننده، سازنده، وارد کننده سیستم های آب شیرین کن اسمز معکوس آب دریا و لب شور برای کاربری های کشاورزی، صنعتی و شرب می باشد. 
					        شرکت نآب به عنوان مجری سیستم جهت هرگونه خدمات طراحی - ساخت و تولید، خرید، فروش سیستم های آب شیرین کن اسمز معکوس اعلام آمادگی می نماید.

				        </p>
                       
			        </div>
			        <ul class="footer-social-links">
				        <li><a href="https://www.instagram.com/novin_ab_borna_co/" target="_blank" rel="nofolow noopener">
					        <i aria-hidden="true" class="fa fa-instagram"></i>
				        </a></li>
			        </ul>
		        </div>
	        </div>

        </div>
    </div>
</footer>
<section class="footer-bottom-area">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			    <div class="copyright-text">
				    <p>طراحی سایت <a href="https://zavoshsoftware.com/" style="color: #e7411b;" rel="nofollow" target="_blank">زاوش</a>
				    </p>
			    </div>
		    </div>
				</div>
    </div>
</section>
