@model ViewModels.ProductDetailViewModel
@{
		ViewBag.Title = "دستگاه آب شیرین کن";
		ViewBag.Canonical = "https://novinabborna.com/product/desalination";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}


<section class="breadcrumb-area" style="background-image: url(/img/breadcrumb/breadcrumb-bg.jpg);">
	<div class="container text-center">
		<h1>دستگاه آب شیرین کن</h1>
	</div>
</section>

<section class="breadcrumb-bottom-area">
	<div class="container">
		<div class="left pull-left">
			<a href="#">محصولات</a>
		</div>
		<div class="right pull-right">
			<ul>
				<li><a href="/">صفحه اصلی</a></li>
				<li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
				<li>دستگاه آب شیرین کن</li>
			</ul>
		</div>
	</div>
</section>


<section id="project-area" class="project-single-area">
	<div class="container">

		<div class="row">
	 
			<div class="col-md-12">
				<div class="content">
					<div class="sec-title-two">
						<h2>دستگاه آب شیرین کن</h2>
						<span class="border"></span>
					</div>
					<div class="row">

						<div class="col-md-9">
							<p>
								شرکت نوین آب برنا (نآب) طراح، تولید کننده، سازنده، وارد کننده سیستم های آب شیرین کن اسمز معکوس آب دریا و لب شور برای کاربری های کشاورزی، صنعتی و شرب می باشد. 
							</p>
							<p>
								شرکت نآب به عنوان مجری سیستم جهت هرگونه خدمات طراحی - ساخت و تولید، خرید، فروش سیستم های آب شیرین کن اسمز معکوس اعلام آمادگی می نماید.
							</p>
						</div>
						<div class="col-md-3">
							<img src="~/img/a.png" />
						</div>
						
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					
					<div class="row mt-20">

						<div class="col-md-12 content-product">
							<h2>ضرورت استفاده از آب شیرین کن ها</h2>
							<p>اهمیت شیرین سازی و تصفیه آب های لب شور و شور به مناطق کم آب و یا نیازهای بزرگ آبی، استفاده از تکنولوژی آب شیرین کن ها را بسیار پررنگ و حیاتی کرده است. در این راستا تولید و راه اندازی سیستم های آب شیرین کن ها آب دریا و آبهای لب شور به روش اسمز معکوس و تکنولوژی های پیشرفته مورد توجه قرار گرفته است. </p>
							<h2> آب شیرین کن های نآب
							</h2>
							
							<div class="row">
								<div class="col-md-6">
									<p>
										
										آب شیرین کن دستگاهی است که برای نمک زدایی و شیرین سازی آب استفاده می¬شود. سیستم تصفیه آب اسمز معکوس آب شور و دارای املاح را از دریا، چاه آب، نهر های زیر زمینی و قنات ها می گیرد و با اعمال فشار اسمزی تمامی املاح آب را با عبور آب از ممبران ها می گیرد و آبی شیرین در اختیار مصرف کننده قرار می دهد.

									</p>
								</div><div class="col-md-6">
									<p>
										اسمز معکوس (Reverse Osmosis : RO)، فرایندی است فیزیکی که قادر می باشد 99 درصد جامدات محلول موجود در آب (TDS) و کلوئیدی  مواد آلی محلول و غیر محلول، سموم، ویروس ها، باکتری ها و آلاینده های میکروبیولوژی را به کمک غشاء نیمه تراوا حذف نماید. در سیستم اسمز معکوس، جریان ورودی یا خوراک (Feed ) به دو جریان آب تصفیه شده (Permeate ) و پساب غلیظ (Reject ) یا (Brine ) تبدیل می شود
									</p>
								</div>
							</div>
							<p class="text-center">

								<img src="~/img/nab1.png" />
							</p>
							<p>
								دستگاه های آب شیرین کن، تحت عناوین پکیج اسمز معکوس، پکیج RO، دستگاه تصفیه آب صنعتی و … اطلاق  می¬شوند.
							</p>
							<p class="text-center">
								<img src="~/img/nab2.png" />

							</p>
							<p>
								ظرفیت سیستم های دستگاه تصفیه آب ساخت شرکت نآب از 5 متر مکعب در شبانه روز تا 5000 متر مکعب در شبانه روز قابل طراحی و ساخت می باشد.  
							</p>
							<h2>
								کاربردهای متداول دستگاه های آب شیرین کن اسمز معکوس
							</h2>
							
							<ul>
								
								<li>
									1.	تصفیه آب شور دریا برای تامین آب شرب
								</li><li>
									2.	تامین آب شیرین جهت کشت و پرورش انواع محصولات کشاورزی
								</li>
								<li>
									3.	تامین آب شیرین جهت پرورش آبزیان آب شیرین
								</li><li>
									4.	تامین آب شیرین برای تولید محصولات غذایی و دارویی.
								</li>
								<li>
									5.	تصفیه آب ورودی به دیگ‌های بخار، برج های خنک کننده و تمامی تجهیزات حرارتی و برودتی.
								</li>
								<li>
									6.	تصفیه آب مورد استفاده در صنایع نفت، گاز و پتروشیمی.
								</li>
								<li>
									7.	کاربرد در صنایع تولید آب معدنی، کارخانه های تولید آب میوه و …
								</li>
								<li>
									8.	تصفیه نهایی آب پساب خروجی از سیستم تصفیه فاضلاب صنعتی .
								</li>
								<li>
									9.	تصفیه آب در حد تولید آب مقطر برای انجام دیالیز در مراکز درمانی.

								</li>
							</ul>
							<p>
							<b>آبهای ورودی به دستگاه های آب شیرین کن از منابع مختلفی میتواند تامین شود. در زیر به این موارد اشاره می شود:
							</b>
							</p>							
							<ul>

									<li>
										آب دریاچه ها، دریاها و اقیانوس ها
									</li>
									<li>
										آب های زیر زمینی مثل چاه ها و قنات
									</li>
									<li>
										آب های سطحی مثل رودخانه ها و چشمه ها
										آبهای سطحی شیرین ولی با سختی بالا
									</li>
								</ul>

							<div class="row">
								<div class="col-md-6">
									<p>
										<b>
											دستگاه آب شیرین کن آب دریا:
										</b> در این سیستم های آب شیرین کن، المان ها، ممبران ها و پمپ های فشار قوی و دیگر ملزومات به گونه ای طراحی و انتخاب می شوند که بتوانند آب دریا با کیفیت (هدایت الکتریکی بالاتر از 50000 واحد میکرو زیمنس در سانتیمتر) را دریافت کنند و به آبی با کیفیت مطلوب تبدیل نمایند. طبیعتاً تجهیزات و ملزومات قوی تر و پرهزینه تری در این سیستم ها به کار می رود.
									</p>		</div>
								<div class="col-md-6">
									<p>
										<b>
											دستگاه آب شیرین کن آب لب شور:
										</b> در این سیستم های آب شیرین کن، المان ها، ممبران ها و پمپ های فشار قوی و دیگر ملزومات به گونه ای طراحی و انتخاب می شوند که صرفا آب های شور دریا با کیفیت (هدایت الکتریکی کمتر از 15000 واحد میکرو زیمنس در سانتیمتر) را دریافت کنند و به آبی با کیفیت مطلوب تبدیل نمایند. طبیعتاً تجهیزات و ملزومات کم هزینه تری در این سیستم ها به کار می رود.
									</p>
								</div>
							</div>
							
							<p>
								در انتخاب تجهیزات و متریال به کار رفته در هر کدام از انواع سیستم های آب شیرین کن، حتما نوع و کیفیت آب خام، کیفیت آب تولیدی، مسایل فنی  و اقتصادی توسط کارشناسان خبره شرکت نوین آب برنا مورد مطالعه و تحلیل قرار می¬گیرد.
							</p>
							
							<h2>
								تولید دستگاه های آب شیرین کن / پکیج R.O در شرکت نآب
							</h2>
							
							<p>
								در شرکت نآب برای تولید دستگاه های آب شیرین کن / نمک زدایی آب لب شور و دریایی با توجه به مشخصات و آنالیز آب ورودی و نیز ظرفیت های مورد نظر پارامترهایی از قبیل میزان فشار ورودی، فشار اسمزی و راندمان تولید و پساب محاسبه شده و استانداردهای لازم طبق نرم افزار های معتبر، کلیه پروسه طراحی کنترل می¬گردد.
							</p>
							<h2>مراحل تصفیه در دستگاه تصفیه آب صنعتی</h2>
							<ul>
								<li>•	پیش ‌تصفیه
								</li><li>
								</li><li>		•	انتخاب پمپ‌های فشار بالا
								</li><li>		•	انتخاب و کاربرد ممبرانهای اسمز معکوس (RO)
								</li><li>		•	گندزدایی و فراورش آب خروجی
								</li>
							</ul>
							<h2>طراحی دستگاه های آب شیرین کن نآب</h2>
							<p>در مجموعه نآب برای طراحی دستگاه های آب شیرین کن اسمز معکوس باید پارامترهای زیر مورد تحلیل و بررسی قرار می گیرند :</p>
							<ul>
								<li>
									•	میزان جریان (دبی) جریان آب ورودی
								</li>
								<li>
							</li><li>	•	هدایت الکتریکی (EC ) آب ورودی
							</li><li>	•	دبی آب تصفیه‌ شده مورد نیاز
							</li><li>	•	کدورت آب ورودی
							</li><li>	•	سختی و pH  آب ورودی
							</li><li>	•	فشار جریان آب ورودی به دستگاه
							</li><li>	•	فشار جریان خروجی از سیستم
							</li><li>	•	فشار جریان پساب خروجی از آب شیرین کن صنعتی
							</li><li>	•	هدایت الکتریکی آب خروجی از دستگاه اسمز معکوس
								</li><li>	•	دمای محیط و دمای آب ورودی به سیستم

								</li>
							</ul>
							<p>طراحی فرآیندهای آب شیرین کن با توجه به پارامتر های مانند دبی آب مورد نیاز، کیفیت آب ورودی و خروجی و …. توسط برجسته ترین طراح های کشور صورت می¬گیرد. سپس شبیه سازی طرح توسط نرم افزارهایی طراحی شده توسط تولید کنندگان ممبران ها، انجام می شود.</p>
							<h2>
								طراحی و اجرای دستگاه در برگیرنده گام های زیر است:
							</h2>
							<p>با توجه به حساسیت بالای ممبران ها در دستگاه RO به انواع آلاینده ها، وجود یک سیستم پیش تصفیه قوی مهم می باشد. پیش تصفیه باعث جلوگیری از رشد باکتری ها در سطح ممبران و همچنین نشست ذرات درشت می شود و سبب افزایش طول عمر ممبرین ها می شود. برای انجام عملیات تصفیه بدون مشکل و با حداقل هزینه دو نکته باید توجه شود. 1) : طراحی پیش تصفیه مناسب 2) : انتخاب مناسب افزودنی های شیمیایی</p>
							<h2>الف) سامانه پیش تصفیه دستگاه های RO شرکت نآب</h2>
							<p>چنانکه پیشتر بیان گردید، آب ورودی به ممبران های اسمز معکوس بایستی بسیار زلال بوده و فاقد کمترین مواد معلقی باشند. این در حالی است که آبهای خام معمولا علاوه بر مواد معلق، رنگ، بو، مزه، یون ها و نمک ها، منابع آب های مختلف میتوانند حاوی انواع جلبکها، ویروس ها و باکتری ها نیز باشد. حذف این ویروس ها و باکتری ها در سیستم های تصفیه آب صنعتی و آب شیرین کن ها توسط روش گند زدایی مانند فیلترهای اشعه فرابنفش (UV) انجام می¬شود.</p>
						
						 
							<p>
								پیش کلرزنی :تزریق ترکیبات بیوساید (ترکیبات کلر) درآب خام ورودی، از رشد عوامل بیولوژیکی و تولید فیلم میکروبی در تمامی بخش های دستگاه های آب شیرین کن جلوگیری می کند.
							</p>
							<p>
<img src="~/img/nab3.png" /></p>
							<p>
								فیلتر گرانولی: حذف کدورت و مواد معلق در آب خام
							</p>
							<p>
								فیلترهای گرانولی عمدتا از نوع فیلترهای ماسه ای هستند که در لایه بندی های متعدد از لحاظ دانه بندی ذرات بستر درون سازه فیلتر قرار می گیرند. این فیلترها به صورت ثقلی ( روباز) یا تحت فشار ( درون مخازن) ساخته و به کار برده می شوند.
							</p>
							<p>		از لحاظ نوع بستر نیز به صورت تک بستری ( ماسه ای) یا دو بستری ( ماسه و زغال آنتراسیت) و در موارد کمتری چند بستری (ماسه- آنتراسیت و گارنت) مرود استفاده قرار می گیرند

							</p>
							<p>

								<img src="~/img/nab4.png" />
							</p>
							<p>
								-	فیلترکربنی: این فیلتر ها ساختاری شبیه به فیلترهای گرانولی دارند ولی عمدتا بستر آنها از کربن فعال گرانولی پر شده است. این فیلترها به دلیل داشتن خاصیت جذب سطحی، طیفی از آلاینده های محلول مثل کلر، ترکیبات آلی آب خام، و حتی باقیماندۀ کدورت در آب خام ورودی را می توانند زدایش کنند.
							</p>
							<p>
								<img src="~/img/nab5.png" />
								
							</p>
							<p>
								-	فیلتررزینی: حذف سختی آب به منظور کمک در فرآیند آب شیرین کن و کاهش رسوب گذاری در پشت ممبران ها 
							</p>
							<p>	-	سامانه تزریق مواد شیمیایی :ممانعت کنندۀ رسوب در ممبران ها پمپ تزریق اسید به منظور تنظیم pH آب ورودی به دستگاه
							</p>
							<p>	-	فیلتر کارتریج : به منظور حذف باقیمانده کدورت، لازم به توضیح است که به دلیل آنکه ممبران های پلی آمیدی نسبت به کلر حساس می باشند باید در هنگام ورود به سیستمRO  کلر آزاد حذف شود. کربنات کلسیم و رسوبات کلسیم سختی آب، منشاء ایجاد رسوب در سیستم RO است و گفته می شود زمانی که قابلیت حل شدن یک نوع نمک از حد مطلوب تجاوز کند تشکیل رسوب به وقوع می پیوندد. 

							</p>
							<p>

								<img src="~/img/nab6.png" />
							</p>
							<p>
								بیشتر آبهای طبیعی می خواهند کربنات کلسیم را روی سطوح ممبران ته نشین کنند .نشست رسوب در RO  علاوه بر تنگ شدن مجاری عبور آب و کاهش دبی سبب کاهش عمر ممبرین می شود (بدلیل شستشو های مکرر با مواد شیمیایی)، پس جهت بالا بردن عمر ممبران باید تا حد امکان سختی را حذف نمود برخی از روشهای حذف سختی عبارت است از استفاده از ستون¬های سختی گیر در قسمت پیش تصفیه سیستم اسمز معکوس
							</p>
							<h2>ب) سامانههای نمک زدا در آب شیرین کن های اسمز معکوس شرکت نآب</h2>
							<h3>
								محفظه‌ فشار (Pressure Vessel) 
							</h3>
							<p>مخزن تحت فشار یا پرشر وسل یک وسیله لوله ای است که شامل عناصر غشایی اسمز معکوس است. برای عناصر مارپیچ، مخزن تحت فشار اغلب به عنوان لوله فشار معرفی می شود و می تواند تا نه عدد المان غشایی دستگاه RO را شامل شود.</p>
					
							<p>
<img src="~/img/nab7.png" /></p>
						<h3>
							ممبران (membrane) فیلتر غشایی
						</h3>
							<p>ممبران ها (غشاهای نیمه تراوا) قسمت اصلی دستگاه های تصفیه آب صنعتی می باشند که میزان جامدات محلول در آب را تا 6/99 %حذف می نمایند. ممبران اسمز معکوس از سه لایه ساخته شده است که بر روی سطح آن کشیده شده است </p>
						<ul>
							<li>
								•	لایه محافظتی پلی استری نگه دارنده رطوبت 
							</li><li>
								•	لایه داخلی از جنس پلی سولفون بسیار ریز
							</li>
							<li>
								•	لایه بسیار نازک پلی آمید

							</li>
						</ul>
						<p>		<img src="~/img/nab8.jpg" /></p>

							<p>عمر مفید این غشاها 2 الی 4 سال می باشد. با نگهداری درست ( استفاده از آنتی اسکالانت و تعویض به موقع فیلترهای حذف املاح معلق) و شرایط بهره برداری مناسب (طراحی درست دستگاه و نصب صحیح آن) و همچنین شستشوی ممبران(CIP ) زمان های تعیین شده و به صورت درست، به عمر مفید آنها افزوده می شود .</p>
							<p>		<img src="~/img/nab9.jpg" /></p>
							<h3>پمپ فشار بالا (High Pressure Pump )</h3>

							<p>پمپ فشار بالا یکی از مهم‌ترین اجزای سیستم اسمز معکوس است. چنانکه پیشتر بیان گردید، برای عبور ملکولهای آب از منافذ نیمه تراوای ممبران به فشار زیادی نیاز است که این فشار توسط پمپ فشار قوی تامین می شود. توان مورد نیاز پمپ فشار قوی تابعی از میزان املاح آب هست.  بطور معمول هر چه  املاح آب بیشتر باشد به پمپ قوی تری نیاز است: برای مثال توان مورد نیاز برای آب شیرین کن های دریایی به بیش از 65 بار هم می¬رسد . این در حالی است که برخی آب شیرین کن های لب شور با توان کمتر از 10 بار کار می¬کنند. </p>
						<p>		<img src="~/img/nab10.jpg" /></p>
						<h2>ویژگی های دستگاه های آب شیرین کن تولیدی شرکت نآب</h2>
						<p>		<img src="~/img/nab11.jpg" /></p>
						<ul>
							<li>
								•	طراحی بهینه توسط برجسته ترین اساتید کشور
					</li>
							<li>	 	•	لحاظ کردن کمترین فضای نصب و کمترین مصرف انرژی در طراحی سیستم RO
					</li>
							<li>		•	استفاده از شاسی دستگاه از جنس استیل ضد زنگ یا کربن استیل با پوشش و رنگ مقاوم در برابر خوردگی
					</li>
							<li>		•	طراحی و استقرار پیشرفته ترین سامانه های پیش تصفیه برای افزایش طول عمر سیستم و کاهش هزینه ها
					</li>
							<li>		•	نصب نمایشگرهای فشار آب ورودی و خروجی در نقاط مختلف سیستم
					</li>
							<li>		•	 استفاده از سیستم کنترل PLC یا ROC 
					</li>
							<li>		•	 لوله کشی استیل ضد زنگ در بخش های تحت فشار و UPVC در بخش های فشار پایین
					</li>
							<li>		•	 شیر دور ریز اتوماتیک و شیر میکس جهت تنظیم TDS آب خروجی
					</li>
							<li>		•	 نمایشگرهای دبی آب تصفیه شده و پساب و آب برگشتی، نمایشگر TDS یا EC و pH یا ORP 
					</li>
							<li>		•	استفاده از مجهز ترین سیستم های تزریق گندزدا تولید شده توسط شرکت نآب
							</li>
							<li>		•	 نصب و راه اندازی سریع و آسان
							</li>
							<li>		•	امکان ساخت بر روی شاسی بتنی یا درون کانتینر جهت سهولت در جابجایی
							</li>
							<li>		•	امکان اضافه کردن سیستم شستشو با مواد شیمیایی (CIP) جهت افزایش عمر فیلترها

							</li>
						</ul>
							<h2>فهرست تجهیزات معمول در دستگاه های آب شیرین کن شرکت نآب:</h2>
						<ul>
							<li>
								•	انواع ممبرین های 4 اینچ و 8 اینچ مخصوص آب های لب شور و شور (دریایی) از برندهای معتبر  Filmtec آمریکا، Hydranautics  آمریکا، Toray ژاپن، CSM  کره جنوبی، LG  کره جنوبی و ...
						</li>
							<li>	•	پمپ های فشار قوی و سانتریفیوژی از جنس استنلس استیل مخصوص آب های لب شور از برندهای Siemens  آلمان، Grandfos  دانمارک،EBARA  ژاپن، Lowara  ایتالیا و برندهای معتبر دیگر
						</li>
							<li>	•	پمپ آب شیرین کن های دریایی مارک Fedco آمریکا، Danfoss  دانمارک، Catpump  آمریکا، KSB آلمان و ...
						</li>
							<li>	•	 وسل های تحت فشار: امروزه بیشتر غشاهای RO در مخازن تحت فشار تقویت شده با فایبرگلاس (FRP) قرار دارند که بطور خاص برای مهار غشاها ساخته شده و در برابر فشارهای زیاد مورد نیاز غشاهای RO  امروزی ساخته شده اند. دستگاه های شرکت نآب از وسل های با برند  GAMRO، ROPV، Wavecyber، Codeline  در سایزها و فشارهای کاری مختلف بهره می گیرند.
						</li>
							<li>	•	انواع مخازن پیش تصفیه شنی، کربنی و سختی¬گیر از جنس FRP و از مارک های GAMRO، Wavecyber و ...
						</li>
							<li>	•	فيلتر شنی : باعث از بین رفتن ذرات معلق موجود در آب مانند موادآلی، باکتری‌ ها، رنگ، پلانکتون و … می شود .
						</li>
							<li>	•	فيلتر کربن دستگاه RO : فیلتر کربن برای از بین بردن کلر و سایر آلاینده های موثر بر عملکرد و عمر غشای RO و همچنین بهبود طعم و بوی آب طراحی شده است.
						</li>
							<li>	•	فيلتر كارتريج دستگاه تصفیه آب صنعتی : برای کاربردهای آلودگی سنگین، کارتریج ها به عنوان فیلترهای پولیش نهایی استفاده میشوند
						</li>
							<li>	•	فلومتر (جريان سنج): برای اندازه گیری سرعت جریان یا مقدار گاز و سیال داخل لوله استفاده می شود . فلومتر و ابزار دقیق برندهای Krohne، E&H، proval، GF، Danfoss، lunawater، Jenco، wika و ...
						</li>
							<li>	•	انواع فیلتر و هوزینگ فیلترهای میکرونی ساخت شرکت های cobetter، pall، Harmsco، TS filter، watersafe، lunawater و ...
						</li>
							<li>	•	سیستم های تزریق مواد شیمیایی و دوزینگ پمپ های EMEC، Injecta، Alldoss، Etatron و ...
						</li>
							<li>	•	گيج فشار : برای نظارت بر فشار در یک خط آب استفاده می شوند. می توان مستقیماً بر روی هر خط آب نصب کرد یا روی صفحه کنترل یک سیستم RO تجاری نصب کرد .
						</li>
							<li>	•	TDS متر : کل مواد جامد محلول یا در واقع مقدار شفافیت آب را مشخص می کند .
							</li>
							<li>	•	سوييچ فشار پايين : زمانیکه سطح آب مخزن کم شده باشد دستور روشن شدن سیستم را میدهد.
							</li>
							<li>	•	سوييچ فشار بالا : برای زمانیکه آب مخزن فول شده باشد دستور خاموش کردن دستگاه را میدهد
							</li>
							<li>	•	مواد شیمیایی مصرفی از برندهای Dow، Flocon، Avista، Jacobi، purolite و ...


							</li>
						</ul>
						
						
						
						
						
						</div>
						</div>
			 
					
					
					
			
				</div>
			</div>

		</div>

	</div>
</section>

<section class="project-single-area">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<div class="sec-title-two">
						<h2>محصولات مرتبط</h2>
						<span class="border"></span>
					</div>
				</div>
			</div>
		</div>
		
		 
	</div>
</section>

 